<div class="login-panel" style="margin-top: 20vh;">
    <h1 class="login-title">
        <span class="light">Employee</span>Connect
   </h1>
    
    <p class="login-text">Login</p>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <label for="email">Email</label>
        <input style="margin-bottom: 2vh;" id="email" type="email" formControlName="email">
    
        <label for="password">Password</label>
        <input style="margin-bottom: 5vh;"  id="password" type="password" formControlName="password">
    
        <button type="submit" class="login-btn">Login</button>
    
    </form>
    
    
   <div class="login-footer">
     <p>Copyright 2021 EmployeeConnect</p>  
   </div>
  </div>