<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">

    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title">

    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">

    <label for="team">Team</label>
    <input id="team" type="text" formControlName="team">

    <label for="technologies">Technologies</label>
    <input id="technologies" type="text" formControlName = "technologies" placeholder="Type in technologies with ; distinguisher">

    <label for="experience">Experience</label>
    <input id="position" type="text" formControlName = "position" placeholder="Position">
    <input id="information" type="text" formControlName = "information" placeholder="Information">



    <button type="submit">Submit</button>

</form>

