<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" >

    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title">

    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">

    <label for="team">Team</label>
    <input id="team" type="text" formControlName="team">

    <label for="technologies">Technologies</label>
    <input id="technologies" type="text" formControlName = "technologies" placeholder="Type in technologies with ; distinguisher">

    <button type="submit">Submit</button>

</form>

<form [formGroup]="addTechForm" (ngSubmit)="addNewTech()">

    <label for="tech">New Tech</label>
    <input id="tech" type="text" formControlName="tech" >

    <button type="submit">Submit</button>

</form>

